VITE_API_URL=https://9yn77c2v71.execute-api.us-east-1.amazonaws.com
VITE_CLOUDFRONT_URL=https://d2112x4m4e89fv.cloudfront.net
VITE_COGNITO_USER_POOL_ID=us-east-1_wYXuMaJfF
VITE_COGNITO_CLIENT_ID=<preencher>
VITE_REGION=us-east-1
