-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEA0vx7agoebGcQSPiKiVzSYTLC0M7sE8NfGvPvBn7nB8dHCaLy
PLACEHOLDER_PRIVATE_KEY_DATA_WILL_BE_REPLACED_BY_REAL_GENERATION
This is just a template for demonstration purposes
The actual key should be generated using proper cryptographic tools
NEVER use this template key in production
-----END RSA PRIVATE KEY-----